@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Parallax Section -->
    <div class="container mt-5">
        <div class="">
            <h1>Welcome to our Reservation Site</h1>
            <p>Make your reservation now!</p>
        </div>
    </div>
</div>
