@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Parallax Section -->
    <div class="parallax-container" style="background-image: url('./images/2306.w062.n005.179B.p15.179.jpg');">
        <div class="parallax-content">
            <h1>Welcome to our Reservation Site</h1>
            <p>Make your reservation now!</p>
        </div>
    </div>
</div>
