@using DatabaseReservation.Data;
@using Microsoft.AspNetCore.Identity
@{
    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager
    string userName = User.Identity.Name;
}

<ul class="navbar-nav">

    @if (string.IsNullOrEmpty(userName))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login">Login</a>
            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Register">Register</a>

        </li>
    }

    @if (!string.IsNullOrEmpty(userName))
    {
        var user = await UserManager.FindByNameAsync(userName);
        <li class="nav-item" href="/Users/Edit/@user.Id">
            <a href="@Url.Action("Edit","User",new{id=@user.Id})">
                <img src="~/Images/@user.ProfilePic" title="ProfilePic" width="30" height="30"/>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="User" asp-action="ChangePassword">Change Password</a>
        </li>

    }

@* } *@

</ul>
